:root{
    --darkBlue: #002858;
    --blue: #005687;
    --lightBlue: #00849C;
    --lightestBlue: #F7F9FF;
    --baseWhite: white;
    --textBlack: black;
    --line: #e6e6e6;
    --scrollbarBG: #CFD8DC;
    --greyback: #FAFAFF;
    --greyinput: #A0A0A0;
}